

@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Oswald');

*{
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 	transition-duration:.25s;
}

body {
 	margin: 0;
 	font-size: 16px;
 	background-color: rgb(240,240,240);
}
main, footer, .service {
	margin:auto;
	max-width:96.5em;
	box-shadow: 0px 15px 20px rgba(0,0,0,.4), 0 20px 20px rgba(0,0,0,.3);
}

section {
	padding:4em 0;
}
#link {
	color: rgb(0,0,0);
	font-size: 2em;
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	padding: 0.5em;
	border-width: thin;
	border-color: rgb(0,0,0);
	border-style: solid;
	display: inline-block;
}

.begin {
	text-align: center; 
	background-image: url(../images/background.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	padding: 11em; 
	margin: 0;
}
			h1 {
				color: rgb(0,0,0);
				font-size: 4em;
				text-transform: uppercase;
				font-family: 'Oswald', sans-serif;
			}
			#subtext {
				color: rgb(0,0,0);
				font-size: 2.5em;
				font-style: italic;
				font-family: 'Dancing Script', cursive;
				margin: 1em 0em 2em 0em;
			}
			#explore {
				text-transform: uppercase;
			}
					#link:hover {
					 	background-color: rgb(30,30,30);
					 	color: rgb(255,255,255);
					 }


nav {
	background-color: rgb(80,80,80);
	padding: .75em;
	text-align: right;
}

			nav a {
				color: rgb(255,255,255);
				font-size: 1.5em;
				font-family: 'Oswald', sans-serif;
				text-decoration: none;
				padding: 0.5em 2em;
				display: inline-block,
			 	}

			 .p:hover {
					 	background-color: rgb(30,30,30);
					 	}



#art {
	background-image: url(../images/quotes.jpg);
	margin: 0 auto;
	padding: 2em;
}	
			#quote {
				text-align: center;
				color: rgb(0,0,0);
				font-size: 3em;
				text-transform: uppercase;
				font-family: 'Oswald', sans-serif;
				padding-top: 1em;
			}	
			.photography {
				color: rgb(0,0,0);
				text-align: center;
				font-style: italic;
				font-family: 'Dancing Script', cursive;
				font-size: 1.5em;
				padding: 1em 7em;
			 }	



.album   {
		float: left;
		line-height:0;
		position: relative;
		width: 50%;
	}	
.album  img {
		width: 100%;
	}

.album h3  {
	font-size: 2em;
	font-family: 'Oswald', sans-serif;
	position: absolute;
	top: 50%;left:50%;
	transform:translate(-50%,-50%);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.album div {
	background-color: rgba(0,0,0,0);
	color:rgba(255,255,255,0);
	position:absolute;
	top:0;bottom:0;left:0;right:0;
}
.album:hover div {
	background-color: rgba(0,0,0,0.4);
	color:rgba(255,255,255,1);
} 		 
	
	
	
.service {
 	background-image: url(../images/service.jpg);
 	background-size: cover;
 	background-repeat: no-repeat;
 	padding: 7em 10em 6em 10em;
 	margin:auto;
	max-width:96.5em;
}
			#ps {
				color: rgb(0,0,0);
				text-align: justify;
				font-family: 'Oswald', sans-serif;
				text-transform: uppercase;
				font-size: 2.7em;
			}
			.list {
				color: rgb(0,0,0);
				font-style: italic;
				font-family: 'Dancing Script', cursive;
				font-size: 2em;
				padding-left: 1em;
				margin: 0 auto;
			}
		 	

.c {
 	text-align: center;
 	padding: 4em 0;
 	background-color: rgb(255,255,255);
 	clear: both;
}
			.contact {
				text-align: center;
				color: rgb(0,0,0);
				font-size: 2.7em;
				text-transform: uppercase;
				font-family: 'Oswald', sans-serif;
			}
			.booking {
				padding-left: 20%;
				padding-right: 20%;
				text-align: center;
				color: rgb(0,0,0);
				font-size: 1.3em;
				font-family: 'Oswald', sans-serif;
				padding-top: 1%;
				padding-bottom: 3%;
			}
			#mail{
				text-align: center;
				color: rgb(233,0,36);
				font-size: 1.3em;
				font-family: 'Oswald', sans-serif;
				text-decoration: none;
				padding: 1em;
				border-width: thin;
				border-color: rgb(233,0,36);
				border-style: solid;
				display: inline-block;
			}

#information {
 	text-align: center;
 	padding: 4em 0 2em 0;
 	background-color: rgb(255,255,255);
}

footer {
 	text-align: center;
 	padding: 4em 0 2em 0;
 	background-image: url(../images/mappa.jpg);
 	background-size: cover;	
}

footer img {
	margin: 1.5em;
}



@media only screen and (max-width: 870px) {
	.begin {
		padding: 5em;
		background-size: cover; 
	}
	nav {
		text-align: center;
	}
	.photography {
		padding: 1em 3em;
	}	
	.album div {
		background-color: rgba(0,0,0,.4);
		color:rgba(255,255,255,1);
	}
	.list {
		padding: 1em 1em 0;
		font-size: 1.5em;
	}
	.service {
		padding: 2em 4em;
		background-size: cover;	
	}	
	footer img {
		width: 60px;
		margin: 1em;
	}
	footer  {
		background-size: cover;	
	}
}	


@media only screen and (max-width: 615px) {
	.begin {
		padding: 3em;
		background-width: 400px; 
	}
	h1 {
		font-size: 3.2em;
	}
	#subtext {
		font-size: 1.5em;
	}
	nav a {
		padding: 0.5em 0.5em;
		font-size: 1.3em;
	}
	nav {
		text-align: left;
	}
	#quote, #ps, .contact{
		font-size: 2.2em;
	}
	#link {
		font-size: 1.5em;
	}
	.photography {
		padding: 1em .5em;
	}	
	.album {
	 	width: 100%;
	 	margin: 0.2em 0;
	 }
	.list {
		padding: 1em .1em 0;
		font-size: 1.5em;
	}
	.service {
		padding: 2em 4em;
		background-width: 400px;	
	}	
	footer img {
		width: 50px;
		margin: .5em;
	}
	footer  {
		background-size: cover;	
	}
}	



@media only screen and (max-width: 400px) {
	.begin {
		padding: 3em;
		background-width: 400px; 
	}
	.album a {
	 	font-size: 0.8em;
	 }
	footer img {
		width: 40px;
		margin: .2em;
	}
	footer  {
		background-size: cover;	
	}
}
